@import 'themes/variables.css';

/* Estilos globais para o layout do aplicativo */

/* Estilos para o contêiner principal */
.main-content {
  display: flex;
  margin-top: 5rem;
}

app-header {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

/* Estilos para o menu lateral */
app-menu {
  flex: 0 0 15.625rem;
  height: calc(100vh - 5rem);
  /* Altura total da viewport menos a altura do cabeçalho */
  position: fixed;
  top: 5rem;
  z-index: 999;
}

/* Estilos para o conteúdo principal */
.content {
  flex: 1;
  margin-left: 15.625rem;
  /* Espaço para o menu lateral */
  padding: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 5rem);
  /* Altura total da viewport menos a altura do cabeçalho */
}

/* Para telas com largura mínima de 900px */
@media screen and (min-width: 900px) {

  /* Ajusta o tamanho da fonte do corpo do documento e de alguns elementos específicos */
  body {
    font-size: calc(1rem + 0.4vw);
    /* Tamanho da fonte do corpo diminui ligeiramente em relação ao anterior */
  }

  .new-event-button,
  .search-events,
  .menu-all-button {
    font-size: calc(1rem + 0.4vw);
    /* Tamanho da fonte desses botões diminui ligeiramente em relação ao anterior */
  }

  #historicalEvents,
  #api-historicalEvents {
    font-size: calc(1.125rem + 0.4vw);
    /* Tamanho da fonte desses elementos aumenta um pouco em relação ao anterior */
  }
}

/* Para telas com largura máxima de 768px */
@media screen and (max-width: 768px) {

  app-menu {
    width: 12.5rem;
    /* Ajusta a largura do menu lateral para telas menores */
  }

  .content {
    margin-left: 12.5rem;
    /* Ajusta o espaço para o menu lateral em telas menores */
  }

  /* Ajusta o layout da barra de navegação e posiciona o logo */
  .navbar {
    flex-wrap: wrap;
    /* Permite que os itens da barra de navegação sejam dispostos em várias linhas */
  }

  .logo-container {
    bottom: 0.625rem;
    /* Posiciona o contêiner do logo mais próximo do fundo */
  }

  .menu-lateral-esquerdo {
    width: 57%;
    /* Define a largura do menu lateral esquerdo */
    height: 100vh;
    /* Define a altura total da viewport */
    font-size: 0.875rem;
  }
}

/* Para telas com largura mínima de 767px e máxima de 1024px */
@media screen and (min-width: 767px) and (max-width: 1024px) {

  /* Ajusta o layout da barra de navegação e posiciona os elementos históricos */
  .navbar {
    justify-content: space-between;
    /* Distribui os itens da barra de navegação uniformemente */
  }

  .menu-lateral-esquerdo {
    width: 45%;
    /* Reduz a largura do menu lateral esquerdo */
    height: 100vh;
    /* Mantém a altura total da viewport */
    font-size: 1rem;
  }

  .content {
    margin-left: 45%;
    /* Ajusta o espaço para o menu lateral em telas menores */
  }

  #historicalEvents {
    top: 28%;
    /* Posiciona o elemento histórico superiormente */
  }

  #api-historicalEvents {
    top: 57%;
    /* Posiciona o elemento histórico inferiormente */
  }
}

/* Para telas com largura mínima de 1025px */
@media screen and (min-width: 1025px) {

  /* Ajusta o layout da barra de navegação */
  .navbar {
    justify-content: space-around;
    /* Distribui os itens da barra de navegação com espaço igual em todos os lados */
  }

  .menu-lateral-esquerdo {
    width: 15.625rem;
    /* Define a largura do menu lateral esquerdo */
    height: 100vh;
    /* Define a altura total da viewport */
    font-size: 1rem;
  }

  .content {
    margin-left: 15.625rem;
    /* Ajusta o espaço para o menu lateral em telas menores */
  }
}