.container {
  font-family: Arial, sans-serif;
  font-size: 1.125rem;
  line-height: 1.6;
  overflow-y: auto;
  margin-top: 2.5rem;
  position: absolute;
  top: 45%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 75%;
  background-color: var(--klistapp-nero);
  color: var(--klistapp-mine-shaft);
  padding: 1.25rem;
  border-radius: var(--bs-border-radius);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 995;
}

.my-events-container {
  max-width: 600px;
  max-height: 70vh;
  margin: 2rem auto;
  padding: 2rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  overflow-y: auto;
}

h2 {
  text-align: center;
  margin-bottom: 1.25rem;
  color: #333;
}

.event-card {
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  width: 100%;
  transition: box-shadow 0.2s;
}

.event-card:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.16);
}

.card-title {
  font-weight: bold;
  color: var(--klistapp-jacksons-purple, #37265a);
  margin-bottom: 0.5rem;
}

.card-subtitle {
  font-size: 1rem;
  color: #666;
  margin-bottom: 1rem;
}

/* Botão de atualizar (PUT) */
.update-button {
  padding: 0.625rem 1.25rem;
  background-color: var(--klistapp-jacksons-purple);
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: background-color 0.3s ease;
}

.update-button:hover {
  filter: brightness(1.25);
}

/* Botão de atualizar título (PATCH) */
.patch-button {
  padding: 0.625rem 1.25rem;
  background-color: var(--klistapp-jacksons-purple);
  ;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: background-color 0.3s ease;
}

.patch-button:hover {
  filter: brightness(1.15);
}

/* Botão de deletar */
.delete-button {
  padding: 0.625rem 1.25rem;
  background-color: var(--klistapp-jacksons-purple);
  ;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  filter: brightness(1.15);
}