.menu-lateral-esquerdo {
  width: 15.625rem;
  /* Ocupa toda a largura de 16% da tela */
  height: 100vh;
  /* Altura total da viewport */
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: var(--klistapp-wild-sand);
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

.menu-lateral-esquerdo.oculto {
  transform: translateX(-100%);
  /* Move o menu lateral para fora da tela */
}

.navegacao ul {
  list-style-type: none;
  padding: 1.25rem;
}

.navegacao li {
  margin-bottom: 0.625rem;
  display: flex;
  align-items: center;
}

/* Botões */
.new-event-button,
.search-events,
.menu-all-button,
.save-button,
.delete-btn {
  color: var(--klistapp-mine-shaft);
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
  font-size: 1.45rem;
}

.new-event-button i,
.search-events i,
.menu-all-button i {
  color: inherit;
}

.new-event-button:hover,
.search-events:hover,
.menu-all-button:hover,
.save-button:hover,
.delete-btn:hover {
  color: var(--klistapp-nero);
  background-color: var(--klistapp-bay-of-many);
}

.logo-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 0.625rem;
}

.logo-container img {
  max-width: 100%;
  height: auto;
}