.menu-lateral-esquerdo {
  font-size: 14px;
  width: 16%;
  /* Ocupa toda a largura de 16% da tela */
  height: 100vh;
  /* Altura total da viewport */
  position: relative;
  background-color: var(--klistapp-wild-sand);
  z-index: 999;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

.menu-lateral-esquerdo.oculto {
  transform: translateX(-110%);
  /* Move o menu lateral para fora da tela */
}

.navegacao ul {
  list-style-type: none;
  padding: 20px;
}

.navegacao li {
  margin-bottom: 0.625rem;
  display: flex;
  align-items: center;
}
