<!-- menu lateral esquerdo -->
<div class="menu-lateral-esquerdo">
  <div class="menu-principal">
    <!-- Navegação -->
    <nav class="navegacao">
      <ul id="ul-navegacao">
        <li><button type="button" class="btn new-event-button" [routerLink]="['/new-event-page']"><i
              class="bi bi-plus-square-fill"></i>
            Novo
            Evento</button></li>
        <li>
          <button type="button" class="btn search-events" [routerLink]="['/search-events']" id="search-events">
            <i class="bi bi-search"></i> Buscar Evento
          </button>
        </li>
      </ul>
    </nav>
  </div>
  <!-- Logo do Projeto -->
  <div class="logo-container">
    <img src="https://res.cloudinary.com/daqpjdyeu/image/upload/v1718848182/HistorySync/logo-historySync_il8vzc.png"
      alt="Logo HistorySync">
  </div>
</div>