/* Define o layout do AppComponent para ocupar toda a altura da viewport */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-image: url("https://res.cloudinary.com/daqpjdyeu/image/upload/v1719009366/HistorySync/business-background_d8h7h3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 1rem;
  /* Tamanho padrão da fonte */
}