:root {
  /* Colors */
  --klistapp-nero: #ffffff;
  --klistapp-wild-sand: #f4f4f4;
  --klistapp-dodger-blue: #2d89ef;
  --klistapp-mine-shaft: #333333;
  --klistapp-gray: #858585;
  --klistapp-silver: #c2c2c2;
  --klistapp-jacksons-purple: #1b2c82;
  --klistapp-lucky-point: #192875;
  --klistapp-wistful: #a6afda;
  --klistapp-silver: #c8c8c8;
  --klistapp-bay-of-many: #2c3d91;
  --klistapp-black: #000000;
  --klistapp-alabaster: #f8f8f8;
  --klistapp-mercury: #eaeaea;
  --klistapp-black-40percent: rgba(0, 0, 0, 0.4);
  --klistapp-alabaster: #fafafa;
  --klistapp-black-10percent: rgba(0, 0, 0, 0.1);
  --klistapp-gray-chateau: #9fa2a6;

  /* Fonts */
  --klistapp-segoe-ui-regular-14-font-family: Actor-Regular, sans-serif;
  --klistapp-segoe-ui-regular-14-font-size: 14px;
  --klistapp-segoe-ui-regular-14-line-height: 40px;
  --klistapp-segoe-ui-regular-14-font-weight: 400;
  --klistapp-segoe-ui-regular-14-font-style: normal;
  --klistapp-segoe-ui-regular-14-font-family: Actor-Regular, sans-serif;
  --klistapp-segoe-ui-regular-14-font-size: 14px;
  --klistapp-segoe-ui-regular-14-line-height: normal;
  --klistapp-segoe-ui-regular-14-font-weight: 400;
  --klistapp-segoe-ui-regular-14-font-style: normal;
  --klistapp-segoe-ui-regular-16-font-family: Actor-Regular, sans-serif;
  --klistapp-segoe-ui-regular-16-font-size: 16px;
  --klistapp-segoe-ui-regular-16-line-height: 36px;
  --klistapp-segoe-ui-regular-16-font-weight: 400;
  --klistapp-segoe-ui-regular-16-font-style: normal;
  --klistapp-segoe-ui-semibold-14-font-family: Actor-Regular, sans-serif;
  --klistapp-segoe-ui-semibold-14-font-size: 14px;
  --klistapp-segoe-ui-semibold-14-line-height: 28px;
  --klistapp-segoe-ui-semibold-14-font-weight: 400;
  --klistapp-segoe-ui-semibold-14-font-style: normal;
  --klistapp-segoe-ui-regular-12-font-family: Actor-Regular, sans-serif;
  --klistapp-segoe-ui-regular-12-font-size: 12px;
  --klistapp-segoe-ui-regular-12-line-height: 28px;
  --klistapp-segoe-ui-regular-12-font-weight: 400;
  --klistapp-segoe-ui-regular-12-font-style: normal;
  --klistapp-segoe-ui-regular-12-font-family: Actor-Regular, sans-serif;
  --klistapp-segoe-ui-regular-12-font-size: 12px;
  --klistapp-segoe-ui-regular-12-line-height: 12px;
  --klistapp-segoe-ui-regular-12-font-weight: 400;
  --klistapp-segoe-ui-regular-12-font-style: normal;
  --klistapp-segoe-ui-semibold-12-font-family: Actor-Regular, sans-serif;
  --klistapp-segoe-ui-semibold-12-font-size: 12px;
  --klistapp-segoe-ui-semibold-12-line-height: 12px;
  --klistapp-segoe-ui-semibold-12-font-weight: 400;
  --klistapp-segoe-ui-semibold-12-font-style: normal;
  --klistapp-segoe-ui-regular-12-font-family: Actor-Regular, sans-serif;
  --klistapp-segoe-ui-regular-12-font-size: 12px;
  --klistapp-segoe-ui-regular-12-line-height: 30px;
  --klistapp-segoe-ui-regular-12-font-weight: 400;
  --klistapp-segoe-ui-regular-12-font-style: normal;
  --klistapp-segoe-ui-regular-14-font-family: Actor-Regular, sans-serif;
  --klistapp-segoe-ui-regular-14-font-size: 14px;
  --klistapp-segoe-ui-regular-14-line-height: 14px;
  --klistapp-segoe-ui-regular-14-font-weight: 400;
  --klistapp-segoe-ui-regular-14-font-style: normal;
  --klistapp-segoe-ui-regular-25-upper-font-family: Actor-Regular, sans-serif;
  --klistapp-segoe-ui-regular-25-upper-font-size: 25px;
  --klistapp-segoe-ui-regular-25-upper-line-height: normal;
  --klistapp-segoe-ui-regular-25-upper-font-weight: 400;
  --klistapp-segoe-ui-regular-25-upper-font-style: normal;
  --klistapp-segoe-ui-bold-164-font-family: Actor-Regular, sans-serif;
  --klistapp-segoe-ui-bold-164-font-size: 16.399999618530273px;
  --klistapp-segoe-ui-bold-164-line-height: normal;
  --klistapp-segoe-ui-bold-164-font-weight: 400;
  --klistapp-segoe-ui-bold-164-font-style: normal;
  --klistapp-segoe-ui-regular-16-font-family: Actor-Regular, sans-serif;
  --klistapp-segoe-ui-regular-16-font-size: 16px;
  --klistapp-segoe-ui-regular-16-line-height: 24px;
  --klistapp-segoe-ui-regular-16-font-weight: 400;
  --klistapp-segoe-ui-regular-16-font-style: normal;
  --klistapp-segoe-ui-regular-18-upper-font-family: SegoeUi-Regular, sans-serif;
  --klistapp-segoe-ui-regular-18-upper-font-size: 18px;
  --klistapp-segoe-ui-regular-18-upper-line-height: normal;
  --klistapp-segoe-ui-regular-18-upper-font-weight: 400;
  --klistapp-segoe-ui-regular-18-upper-font-style: normal;
  --klistapp-segoe-ui-semibold-14-font-family: SegoeUi-Semibold, sans-serif;
  --klistapp-segoe-ui-semibold-14-font-size: 14px;
  --klistapp-segoe-ui-semibold-14-line-height: 14px;
  --klistapp-segoe-ui-semibold-14-font-weight: 600;
  --klistapp-segoe-ui-semibold-14-font-style: normal;
  --klistapp-segoe-ui-regular-14-font-family: SegoeUi-Regular, sans-serif;
  --klistapp-segoe-ui-regular-14-font-size: 14px;
  --klistapp-segoe-ui-regular-14-line-height: normal;
  --klistapp-segoe-ui-regular-14-font-weight: 400;
  --klistapp-segoe-ui-regular-14-font-style: normal;
  --klistapp-segoe-ui-bold-16-font-family: SegoeUi-Bold, sans-serif;
  --klistapp-segoe-ui-bold-16-font-size: 16px;
  --klistapp-segoe-ui-bold-16-line-height: 24px;
  --klistapp-segoe-ui-bold-16-font-weight: 700;
  --klistapp-segoe-ui-bold-16-font-style: normal;
  --klistapp-segoe-ui-bold-18-font-family: SegoeUi-Bold, sans-serif;
  --klistapp-segoe-ui-bold-18-font-size: 18px;
  --klistapp-segoe-ui-bold-18-line-height: 22px;
  --klistapp-segoe-ui-bold-18-font-weight: 700;
  --klistapp-segoe-ui-bold-18-font-style: normal;
  --klistapp-segoe-ui-regular-16-font-family: SegoeUi-Regular, sans-serif;
  --klistapp-segoe-ui-regular-16-font-size: 16px;
  --klistapp-segoe-ui-regular-16-line-height: normal;
  --klistapp-segoe-ui-regular-16-font-weight: 400;
  --klistapp-segoe-ui-regular-16-font-style: normal;
  --klistapp-segoe-ui-regular-16-font-family: SegoeUi-Regular, sans-serif;
  --klistapp-segoe-ui-regular-16-font-size: 16px;
  --klistapp-segoe-ui-regular-16-line-height: 17px;
  --klistapp-segoe-ui-regular-16-font-weight: 400;
  --klistapp-segoe-ui-regular-16-font-style: normal;
}