/* Estilos para a página de novo evento */

/* Container principal */
.container {
  max-width: 37.5rem;
  margin-left: 28rem;
  padding: 1.25rem;
  background-color: #f9f9f9;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* Garante que o contêiner ocupe a altura total da viewport */
}

/* Título da página */
h2 {
  text-align: center;
  margin-bottom: 1.25rem;
  color: #333;
}

/* Estilos para o formulário */
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* Garante que o formulário ocupe a largura total do contêiner */
}

/* Estilos para os campos do formulário */
.form-control {
  margin-bottom: 0.9375rem;
  padding: 0.625rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;

}

/* Estilos para os labels */
.form-label {
  margin-bottom: 0.3125rem;
  font-weight: bold;
  color: #555;
}

/* Estilos para o botão de salvar */
.save-button {
  padding: 0.625rem 1.25rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.save-button:hover {
  background-color: #0056b3;
}

/* Estilos para mensagens de erro */
.error-message {
  color: red;
  font-size: 0.875rem;
  margin-top: -0.625rem;
  margin-bottom: 0.625rem;
}

/* Estilos responsivos */
@media (max-width: 48rem) {

  .container {
    padding: 0.9375rem;
  }

  .form-control {
    font-size: 0.875rem;
  }

  .save-button {
    font-size: 0.875rem;
  }
}