/* Estilos para a página de eventos históricos do usuário */

.container {
  font-family: Arial, sans-serif;
  font-size: 1.125rem;
  line-height: 1.6;
  overflow-y: auto;
  margin-top: 2.5rem;
  position: absolute;
  top: 42%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 65%;
  background-color: var(--klistapp-nero);
  color: var(--klistapp-mine-shaft);
  padding: 1.25rem;
  border-radius: var(--bs-border-radius);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

/* Título da página */
h2 {
  text-align: center;
  margin-bottom: 1.25rem;
  color: #333;
}

/* Estilos para o conteúdo */
#my-historicalEvents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Estilos para cada item de evento */
.event-item {
  background-color: var(--klistapp-wild-sand);
  color: var(--klistapp-nero);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: var(--bs-border-radius);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  width: 100%;
}

h3.event-title {
  font-weight: bold;
  color: var(--klistapp-mine-shaft);
}

.event-description,
.event-year {
  color: var(--klistapp-mine-shaft);
}